* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body ul {
    list-style-type: none;
    margin-left: 100px;
}

header {
    background-color: #6f4c3e;
    background-image: url(../img/casona.png);
    background-position: center;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

#top {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    font-style: italic;
    color: #b47e51e1;
    text-shadow: #00000085 5px 5px 5px;
}

.logo img {
    width: 150px;
    height: auto;
    margin: 20px;
}

a {
    text-decoration: none;
}




body h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-style: italic;
    color: #6f4c3e;
    text-align: center;
    text-shadow: #333333c2 3px 3px 4px;
}

body h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    color: #6f4c3e;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: #333333c2 2px 2px 3px;
}

iframe {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 30vh;
    border: none;
    margin: 10px 10px;
}


p {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: #6f4c3e;
    margin: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #6f4c3e;
    color: white;
    border: none;
    padding: 3px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #8f6f5e;
    padding: 3px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card {
    width: 300px;
    margin: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: auto;
    height: auto;
    border-radius: 5px;
}

.card button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #6f4c3e;
    color: white;
    padding: 5px 5px 5px;
    text-shadow: #333 1px 1px 1px;
    border-radius: 3px;
    font-size: 1em;
    display: flex;
    max-width: fit-content;
    margin: 10px auto;
}

.card button:hover {
    background-color: #8f6f5e;
    box-shadow: #333333cb 2px 2px 1px;
}


.index img {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


h3 {
    font-size: 1.7em;
    margin: 20px;
    border-bottom: 2px solid #6f4c3e;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 1.6em;
    color: #6f4c3e;
    text-shadow: #333 1px 1px 1px;
}


form {
    background-color: #ffffff75;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #6f4c3e;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #6f4c3e;
    text-align: center;
    padding: 10px;
}

footer span {
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

footer .links {
    font-size: 1em;
    margin: 0 10px;
    color: white;
    text-decoration: baseline;
}

.registro {
    color: white;
    font-size: 0.9em;
}

.links {
    color: #ffffff;
    margin: 0 15px;
    margin-top: 100px;
}

.links:hover {
    color: #8f6f5e;
    transition: color 0.3s;
}


.top {
    color: #6f4c3e;
    background-color: white;
    max-width: fit-content;
    padding: 05px 15px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #333;
    display: block;
    align-content: center;
    text-align: center;
    margin: 10px auto;

}

.top:hover {
    color: white;
    background-color: #a87e6d;
    transition: color 0.3s;
    font-weight: bold;
}

.top::after {
    content: "  ↑";
}

.top:hover::after {
    content: "  ↑";
}

.footer span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-right: 10px;

}

.precio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: #b12704;
    margin-top: 10px;
}

.carousel-inner img {
    max-height: 100vh;
    object-fit: cover;
}

.dondeestamos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.dondeestamos iframe {
    width: 100%;
    height: 50vh;
    border: none;
    margin: 10px 0;
}

main ul {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: #6f4c3e;
    margin-left: 100px;
    margin-bottom: 20px;
}

main ul ::before {
    content: "🕰️ ";
    color: #6f4c3e;
    font-weight: bold;
}

body main div img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: #333333c2 3px 3px 4px;
    margin: 10px;
}

.staffsection h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    color: #6f4c3e;
    text-shadow: #333333c2 3px 3px 4px;
}

.staffcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.cardstaff img {
width: 100%;
max-width: 200px;
border-radius: 50%;
margin-bottom: 10px;
}

.reservas {
    max-width: 600px;
    margin: 40px auto;
}

.reservasbg {
    background-image: url('../img/reserved.JPG');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

@media (max-width: 768px) {
    #top {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3em;
        font-style: italic;
        color: #b47e51e1;
        text-shadow: #00000085 5px 5px 5px;

    }

    .index img {
        display: flex;
        max-width: 90vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    body h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        font-style: italic;
        color: #6f4c3e;
        text-align: center;
        text-shadow: #333333c2 3px 3px 4px;
    }

    body h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2em;
        font-style: italic;
        color: #6f4c3e;
        margin-top: 20px;
        margin-bottom: 20px;
        text-shadow: #333333c2 2px 2px 3px;
    }

    body p {
        font-size: 0.9em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        color: #6f4c3e;
        margin: 15px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}