
@use "utilities/variables";

@use "base/reset";

@use "utilities/mixins";

@use "layouts/header";
@use "layouts/navbar";
@use "layouts/main";

@use "components/cardsmenu";
@use "components/cardsstaff";
@use "components/form";
@use "components/iframe";
@use "components/slide";

@use "layouts/footer";
@use "layouts/mediaqueries";
