
$color-primario: #6f4c3e;
$color-secundario: #b47e51e1;

$bg-color-gradient-bottom: linear-gradient(0deg, #b5e757d3 0%, white 100%);
$bg-color-gradient-top: linear-gradient(0deg, white 0%, #b5e757d3 100%);
$shadow-color: #1f1f1fd3;

$font-primario: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-secundario: Verdana, Geneva, Tahoma, sans-serif;
