/* -------------------------------cards menu------------------------------- */

@use "../utilities/variables" as *;

.card {
    width: 300px;
    margin: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 10px $shadow-color;
    transition: transform 0.3s, border 0.3s;
}

.card:hover {

  border: 1px solid black;
  transform: scale(1.03);
}


.card img {
    height: auto;
    border-radius: 5px;
}

.card button {
    font-family: $font-primario;
    background-color: $color-primario;
    color: white;
    padding: 5px 5px 5px;
    text-shadow: $shadow-color 1px 1px 1px;
    border-radius: 3px;
    font-size: 1em;
    display: flex;
    max-width: fit-content;
    margin: 10px auto;
}

.card button:hover {
    background-color: $color-secundario;
    box-shadow: $shadow-color 2px 2px 1px;
}

.precio {
    font-family: $font-primario;
    font-weight: bold;
    font-size: 1.1em;
    color: #b12704;
}
