/* -------------------------------cards staff------------------------------- */

@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.staffsection h3 {
    font-family: $font-primario;
    font-size: 1.5em;
    font-style: italic;
    color: $color-primario;
    text-shadow: $shadow-color 3px 3px 4px;
}

.staffcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.cardstaff img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.cardstaff img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

.cardstaff h4 {
    @include flexboxcenter;
    font-family: $font-primario;
    font-size: 1.2em;
    text-decoration: none;
    color: $color-primario;
    margin: 0;
}

.cardstaff p {
    @include flexboxcenter;
    font-family: $font-primario;
    font-size: 0.9em;
    text-decoration: none;
    color: $color-primario;
    margin: 0;
}
