/* -----------------------------------FOOTER---------------------------------- */

@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

footer {
    font-family: $font-primario;
    background: $bg-color-gradient-bottom;
    text-align: center;
    padding: 10px;
}

footer span {
    font-size: 1em;
    font-weight: bold;
    color: $color-secundario;
}

footer .links {
    font-size: 1em;
    margin: 0 10px;
    color: $color-primario;
    text-decoration: none;
}

.registro {
    color: $color-primario;
    font-size: 0.9em;
}

.links {
    color: $color-primario;
    margin: 0 15px;
    margin-top: 100px;
}

.links:hover {
    color: $color-secundario;
    text-decoration: underline;
    transition: color 0.3s;
}


.volverarriba {
    @include flexboxcenter;
    color: $color-primario;
    background-color: $color-secundario;
    max-width: fit-content;
    padding: 05px 15px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px $shadow-color;
    margin: 10px auto;

}

.volverarriba:hover {
    color: white;
    background-color: $color-primario;
    transition: color 0.3s;
}

.volverarriba::after {
    content: "↑";
}

.volverarriba:hover::after {
    content: "↑";
}

